
<body>
    <section id="home-header">
        <h1 class="center mtop">
            <img src="/images/img/logo.png" alt="logo" style="height: 40px; width: 40px;">
            MyWebApp
        </h1>

        <% if(locals.user) { %> 
            <div class="login-btns">
                <a href="/user/profile/<%= user.id %>" class="center"><%= user.name %></a>
                <a href="/user/signout" class="center">Sign Out</a>
            </div>
        <% }else{ %> 
        <div class="login-btns">
            <a href="/user/signup" class="center">Sign up</a>
            <a href="/user/signin" class="center">Sign in</a>
        </div>
        <%} %>
    </section>

    <!-- main body -->
    <section id="posts_users">
        <!-- 1st: create post -->
        <div id="feed-posts">
            <h3>Create Post</h3>
            <% if(locals.user){ %> 
                <div>
                    <form action="/post/create" method="POST" enctype="multipart/form-data">
                        <input type="file" placeholder="choose" name="post-image" required>
                       <br><br> <textarea name="content" cols="30" rows="2" placeholder="caption.." required></textarea>
                        <br><input type="submit" value="Create">
                    </form>
                </div>
            <%}else{ %> 
                    <div style="background-color: #e6e9fb; padding: 10px; width: 200px; margin: auto;">
                    <h5>Sign in to create a post</h5> 
                    </div>
            <% }%>
        </div>

        <!--2nd: display posts -->
        <div id="display-posts">
            <h3>POSTS</h3>
            <ul>
                <% for(i of posts){ %> 
                    <%- include('_post') -%>    
                <%}%>
            </ul>
        </div>

        <!-- 3rd: all users -->
        <div id="users">
            <h3>USERS</h3>
            <ol>
                <% for(user of all_users){ %> 
                    <li>
                        <a href="/user/profile/<%= user.id %>"><%= user.name %></a>
                    </li>    
                <%}%>
            </ol>
        </div>

    </section>

    <%- include('_footer') -%>


    <script src="js/toggle_likes.js"></script>
    <script>

        $('.toggle-like-btn').each(function(){
           let self = this;
           let toggleLike = new ToggleLike(self);
        });

    </script>
</body>





